# Auto detect text files and perform LF normalization
examples/bacon/full/ins_min_tree_links_full_mike_ogas.log
examples/bacon/no_tv_v/ins_min_tree_links_no_tv_v_mike_ogas.log
examples/bacon/post1950/ins_min_tree_links_post1950_mike_ogas.log
examples/input/imdb.post1950.txt.zip
examples/input/imdb.full.txt.zip
